
#navPrincipal{
  background-color: #0067A3;
  color: #ffffff;
}

.space{
  margin: 2%;
}

#navbarSupportedContent{
  display: inline;
}
.btnTablero{
  background-color: #969EBD;
  color: #ffffff;
  border: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.btnTablero:hover{
  background-color:#ffffff;
  color: #969EBD;
}
.btn{
  background-color: #0067A3;
  color: #ffffff;
  border: 0;
}
.btnForm{
  margin-top: 2%;
  margin-right: 0;
  background-color:#5AAC44;
  color: #ffffff;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body{
  background-color: #0079BF;
}
btnLeft{
  text-align: left;
  background-color: #0067A3;
  color: #ffffff;
  border: 0;
  margin: 1px;
  width: 5%;
  padding: 0;
}

.btnLeft:hover{
  background-color:#ffffff;
  color: #969EBD;
}

.txtTrello{
  width: 50px;
  background-color:  #0067A3;
  border: none;
  width: 100%;
}
.spaceTablero{
  width: 50px;
  background-color:  #0067A3;
  border: none;
  width: 100%;
}
h5{
  
  text-align: center;
  color: #1A231C;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 3px;
}

.col{
  text-align: left;
  /*border: #333333 solid 2px;*/
  
  margin: 0%;
  padding: 0%;
}
#logo{
  width: 70%;
}
.fila{
  margin-left: 8px;
  margin-top: 3px;
  border-left: 0;
}

.tinySpace{
  padding: 5%;
}
.btnCerrar{
  margin-left: 2%;
  margin-top: 2%;
  width: 10%;
  text-align: right;
  vertical-align: middle;
  background-color:  #E2E4E6;
  color:   #969EBD;
  cursor: pointer;
  border: none;
}
.btnFake{
  width: 20%;
  text-align: left;
  background-color: #0067A3;
  color:   white;
  cursor: pointer;
}
.btnFake:hover{
  background-color: white ;
  color: #147AA7;
  border-radius: 5px;
}

.btnMedioTablero{
  background-color: #0079BF;
  color:   #1A231C;
  cursor: pointer;
}
.btnMedioTablero:hover{
  background-color: #AFA9AF;
  color: white;
  border-radius: 5px;
}

  .celda{
    display: inline;
    color:  #ffffff;
    cursor: pointer;
  }

  .search{
    background-color: white;
    color:  #969EBD;
    border-color: white;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-style: none;
    cursor: pointer;
    align-items: center;
    padding: .375rem .75rem;
  }

 #user{
  text-align: center;
  border-radius: 50%;
  background-color: white;
  width: 20px;
  height: 30px;
  }
  #btnUser{
    background-color: white;
    color:  #969EBD;
    cursor: pointer;
    border-radius: 50%;
  }
  #btnUser:hover{
    background-color: white;
    color:  #147AA7;
    border-radius: 50%;
  }

 .card{
    width: 20%;
    background-color: #E2E4E6;
    border: 5px solid #E2E4E6;
  }

  #tarjetaNew{
    background-color: #E2E4E6;
  }

  .btnCard{
  background-color: #E2E4E6;
  color: #147AA7;
  cursor: pointer;
}
.btnCard:hover{
  background-color: white ;
  color: #147AA7;
  border-radius: 5px;
}
#inputCard{
  width: 100%;
  height: 200%;
  background-color: white;
  border: none;
  border-color: #E2E4E6;
  resize:none;
}

.tituloCard{
  text-align: right;
 padding-right: 50%;
}
#spaceCard{
  text-align: left;
  position: relative;
  right: 0px;
  background-color: #E2E4E7;
}

.move{
  position: relative;
  left: 20%;
}