
#navPrincipal{
  background-color: #0067A3;
  color: #ffffff;
}

.space{
  margin: 2%;
}

#navbarSupportedContent{
  display: inline;
}
.btnTablero{
  background-color: #4D95BF;
  color: #ffffff;
  border: 0;
  font-size: 15px;
  font-family: Helvetica;
  padding: none;
  
}
.btnTablero:hover{
  background-color: rgba(0,0,0,.3);
  color: white;
}
.btn{
  background-color: #4D95BF;
  color: #ffffff;
  border: 0;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  padding: none;
  left: 2%;
}

#bell{
  background-color:#EB5A46;
}
.btnForm{
  margin-top: 2%;
  margin-right: 0;
  background-color:#5AAC44;
  color: #ffffff;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 14px;
  line-height: 1.5;
  border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body{
  background-color: #0079BF;
}
btnLeft{
  background-color:#4D95BF;
  color: #ffffff;
  border: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 14px;
  float: right;
}

.btnLeft:hover{
  background-color: rgba(0,0,0,.3);
  color: white;
}

.txtTrello{
  width: 50px;
  background-color:  #0067A3;
  border: none;
  width: 100%;
}
.spaceTablero{
  width: 50px;
  background-color:  #0067A3;
  border: none;
  width: 100%;
}
h5{
  
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 3px;
}

.col{
  text-align: center;
  /*border: #333333 solid 2px;*/
  
  margin: 0%;
  padding: 0%;
}

#iconsLeft{
  float: right;
  position: absolute;
  left: 100%; 
  display: inline;
  padding-left: 100%;
}

#headIcons{
  float: right;
  right: 0%; 
  display: inline;
  position: relative;
  display: flex;
}

#logo{
  text-align: center;
  height: 30px;
  opacity: 0.5;
  padding-left: 50%;
}
.fila{
  margin-left: 8px;
  margin-top: 3px;
  border-left: 0;
}

.tinySpace{
  padding: 5%;
}
.btnCerrar{
  margin-left: 2%;
  margin-top: 2%;
  width: 10%;
  text-align: right;
  vertical-align: middle;
  background-color:  #E2E4E6;
  color:   #999999;
  cursor: pointer;
  border: none;
}
.btnFake{
  width: 18%;
  padding: 0.7%;
  text-align: left;
  background-color: #0067A3;
  color:   white;
  cursor: pointer;
  font-size: 13px;
  border:0;
  margin-left: 1% !important;
}
.btnFake:hover{
  background-color: rgba(0,0,0,.3);
  color: white;
  border-radius: 5px;
  
}

.btnMedioTablero{
  margin-right: 0%;
  background-color: #0079BF;
  color:   white;
  cursor: pointer;
  font-size: 10px !important;
  float: right;
  padding-right: 19%;
  margin-left: 1% !important;
  vertical-align: middle !important;
}

h6{
  font-size: 14px !important;
}

.btnMedioTablero:hover{
  background-color: rgba(0,0,0,.3);
  color: white;
  border-radius: 2px;
}

  .celda{
    display: inline;
    color:  #ffffff;
    cursor: pointer;
  }

  #inputBuscar{
    background-color: #4D95BF;
    color:  white;
    border-color: white;
    border-style: none;
    cursor: pointer;
    align-items: center;
    padding: .375rem .75rem;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    display: flex;
  }

  .search{
    background-color: #4D95BF;
    color:  white;
    border-color: white;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-style: none;
    cursor: pointer;
    align-items: center;
    padding: .375rem .75rem;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    
  }

  #btnUser{
    background-color: #4DA1D2;
    color:  white;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 2%;
    height: 70%;
    font-size: 10px;
    align-items: center;
  }
  #btnUser:hover{
    background-color: rgba(0,0,0,.3);
    color:  white;
    border-radius: 50%;
  }

 .card{
    float:left;
    width: 18%;
    background-color: #E2E4E6;
    border: 5px solid #E2E4E6;
    margin-left: 0.4%;
    font-family: 12%;
  }

  #tarjetaNew{
    background-color: #E2E4E6;
  }

  .tarea{
    background-color:#ffffff;
    border-radius: 4px;
    padding: 0.7%;
  }

  .btnCard{
  background-color: #E2E4E6;
  color: #147AA7;
  cursor: pointer;
}
.btnCard:hover{
  background-color: rgba(0,0,0,.3);
  color: white;
  border-radius: 5px;
}
.inputCard{
  width: 100%;
  height: 200%;
  background-color: white;
  border: none;
  border-color: #E2E4E6;
  resize:none;
}

.tituloCard{
  text-align: right;
 padding-right: 50%;
}
#spaceCard{
  text-align: left;
  position: relative;
  right: 0px;
  background-color: #E2E4E7;
}

.move{
  display: none;
  position: relative;
  left: 20%;
}
#estrella{
  display: inline-block;
  top:2%;
}

#readMore{
  float: right;
  position: absolute;
  
  display: inline;
  padding-left: 90%;
}